<div class="container">
  <h1><%= @chatroom.name.capitalize %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.chat_id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div id="new-message">
    <h3>New message</h3>
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "I love coding" %>
    <% end %>
  </div>
</div>
